aside{
    grid-area:aside;
    display:flex;
    flex:1;
    position:left;
    margin-right:0;

}
aside li{
    list-style-type: none;

}
aside a{
    text-decoration: none;
}
aside a:hover{
    color:red;
}