*{margin:auto;
}
body{
     background-color: rgb(207, 134, 71);
}
.card{
    padding: 20px;
   
}
legend{
    color:#cb0f4d;
 
}


option:hover {
  background-color: rgb(255, 63, 121)!important;
}


::-webkit-scrollbar {
    display: none;
}
